SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", RUN+="/usr/sbin/tuned-adm profile laptop"
SUBSYSTEM=="power_supply", ATTR{status}=="Charging", RUN+="/usr/sbin/tuned-adm profile desktop"
SUBSYSTEM=="power_supply", ATTR{status}=="Full", RUN+="/usr/sbin/tuned-adm profile desktop"

