[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=matlab -desktop -r "startup(%f)"
Name=MATLAB
Icon=/usr/local/MATLAB/R2020a/bin/glnxa64/cef_resources/matlab_icon.png
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupNotify=true
StartupWMClass=com-mathworks-util-PostVMInit
